body {
	background: #7B241C;
}

.fondo {
	color: white;
}

nav ul li a {
	color: grey;
}

.title {
	font-family: 'Noto Sans', sans-serif;
	color: black
}


p {
	font: oblique bold 80% cursive;
}

h3 {font: oblique bold 90%;
	color: yellow

}